*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
.vs/

# Appsettings
src/TWJ.TWJApp.TWJService.Api/appsettings.json
src/TWJ.TWJApp.TWJService.Api/appsettings.Development.json
src/TWJ.TWJApp.TWJService.Api/appsettings.Staging.json

#ffmpeg
src/TWJ.TWJApp.TWJService.Api/ffmpeg/

# Ignore publish folder
/bin/Release/net6.0/publish/
